/* ------------------- */
/* Custom properties   */
/* ------------------- */
:root {
  /* colors */
  --color-black: 0 0% 0%;
  --color-dark: 0 0% 49%;
  --color-light: 0 0% 90%;
  --color-very-light: 0 0% 95%;
  --color-white: 0 0% 100%;
  /* font-sizes */
  --fs-display: 200px;
  --fs-heading1: 3.5rem;
  --fs-heading2: 1.5rem;
  --fs-heading3: 1.125rem;
  --fs-subhead1: 0.9375rem;
  --fs-subhead2: 0.8125rem;
  --fs-link1: 0.75rem;
  --fs-link2: 0.5625rem;
  --fs-body: 0.875rem;
  /* font-families */
  --ff-normal: "Libre Baskerville", serif;
}

/* ------------------- */
/* Reset               */
/* ------------------- */
/* https://piccalil.li/blog/a-modern-css-reset/ */
/* Box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Reset margins */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: 400;
}

/* set up the body */
body {
  font-family: var(--ff-sans-normal);
  font-size: var(--fs-300);
  color: hsl(var(--clr-white));
  background-color: hsl(var(--clr-dark));
  line-height: 1.5;
  min-height: 100vh;
  display: grid;
  grid-template-rows: min-content 1fr;
}

/* make images easier to work with */
img,
picutre {
  max-width: 100%;
  display: block;
}

/* make form elements easier to work with */
input,
button,
textarea,
select {
  font: inherit;
}

ul, ol {
  list-style-type: none;
  padding: 0;
}

/* remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/* ------------------- */
/* Utility             */
/* ------------------- */
.font-display {
  font-size: var(--fs-display);
  line-height: 75%;
  font-weight: bold;
}

.font-heading1 {
  font-size: var(--fs-heading1);
  line-height: 114%;
  font-weight: bold;
}

.font-heading2 {
  font-size: var(--fs-heading2);
  line-height: 120%;
  font-weight: bold;
}

.font-heading3 {
  font-size: var(--fs-heading3);
  line-height: 122%;
  font-weight: bold;
}

.font-subhead1 {
  font-size: var(--fs-subhead1);
  line-height: 127%;
}

.font-subhead2 {
  font-size: var(--fs-subhead2);
  line-height: 131%;
  font-weight: bold;
}

.font-link1 {
  font-size: var(--fs-link1);
  line-height: 125%;
  letter-spacing: 2.5px;
  font-weight: bold;
}

.font-link2 {
  font-size: var(--fs-link2);
  line-height: 122%;
  letter-spacing: 2px;
  font-weight: bold;
}

.font-body {
  font-size: var(--fs-body);
  line-height: 200%;
}

.uppercase {
  text-transform: uppercase;
}

/* ------------------- */
/* Component           */
/* ------------------- */
heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 3rem;
}
heading a {
  text-decoration: none;
  color: hsl(var(--color-dark));
}

.container {
  padding: 1rem 3rem;
  line-height: 0;
  -webkit-column-count: 4;
  -webkit-column-gap: 20px;
  -moz-column-count: 4;
  -moz-column-gap: 20px;
  column-count: 4;
  column-gap: 20px;
}
.container figure {
  position: relative;
}
.container figure > img {
  width: 100%; /* Make images responsive */
  height: auto; /* Maintain aspect ratio */
  padding-bottom: 20px;
}
.container figurecaption {
  position: absolute;
  bottom: 30%;
  left: 10%;
  color: hsl(var(--color-white));
}
.container figurecaption > span {
  display: block;
}

.slideshow {
  padding: 1rem 3rem;
}
.slideshow footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.slideshow footer img {
  display: inline;
}/*# sourceMappingURL=style.css.map */