/* ------------------- */
/* Custom properties   */
/* ------------------- */

/* media query break points */
$tablet-break: 720px; //45rem;
$desktop-break: 1248px; //78rem;

:root {
    /* colors */
    --color-black: 0 0% 0%;
    --color-dark: 0 0% 49%;
    --color-light: 0 0% 90%;
    --color-very-light: 0 0% 95%;
    --color-white: 0 0% 100%;
    
    /* font-sizes */
    --fs-display: clamp(100px, 0.8rem + 20vw, 200px);
    --fs-heading1: clamp(1.5rem, 0.5rem + 10vw, 3.5rem);
    --fs-heading2: 1.5rem;
    --fs-heading3: clamp(0.875rem, 0.5rem + 1vw, 1.125rem); //1.125rem;
    --fs-subhead1: 0.9375rem;
    --fs-subhead2: 0.8125rem;
    --fs-link1: clamp(0.5625rem, 0.25rem + 1vw, 1.5rem);
    --fs-link2: 0.5625rem;
    --fs-body: 0.875rem;
    
    /* font-families */
    --ff-normal: "Libre Baskerville", serif;

    //scroll-behavior: smooth;
}

/* ------------------- */
/* Reset               */
/* ------------------- */

/* https://piccalil.li/blog/a-modern-css-reset/ */

/* Box sizing */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Reset margins */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
    margin: 0; 
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-weight: 400;
}

/* set up the body */
body {
    font-family: var(--ff-normal);
    font-size: var(--fs-300);
    color: hsl( var(--color-black) );
    background-color: hsl( var(--color-white) );
    line-height: 1.5;
    min-height: 100vh;
    // display: grid;
    // grid-template-rows: min-content 1fr;
}

/* make images easier to work with */
img,
picutre {
    max-width: 100%;
    display: block;
}

/* make form elements easier to work with */
input,
button,
textarea,
select {
    font: inherit;
}

ul, ol {
    list-style-type: none;
    padding: 0;
}

a {
    color: inherit;
}

/* remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* ------------------- */
/* Utility             */
/* ------------------- */

.font-display {
    font-size: var(--fs-display);
    line-height: 75%;
    font-weight: bold;
}
.font-heading1 {
    font-size: var(--fs-heading1);
    line-height: 114%;
    font-weight: bold;
}
.font-heading2 {
    font-size: var(--fs-heading2);
    line-height: 120%;
    font-weight: bold;
}
.font-heading3 {
    font-size: var(--fs-heading3);
    line-height: 122%;
    font-weight: bold;
}
.font-subhead1 {
    font-size: var(--fs-subhead1);
    line-height: 127%;
}
.font-subhead2 {
    font-size: var(--fs-subhead2);
    line-height: 131%;
}
.font-link1 {
    font-size: var(--fs-link1);
    line-height: 125%;
    letter-spacing: 2.5px;
    font-weight: bold;
}
.font-link2 {
    font-size: var(--fs-link2);
    line-height: 122%;
    letter-spacing: 2.0px;
    font-weight: bold;
}
.font-body {
    font-size: var(--fs-body);
    line-height: 200%;
    font-weight: bold;
}
.uppercase {
    text-transform: uppercase;
}

/* ------------------- */
/* Component           */
/* ------------------- */
.top-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1rem;
    img {
        max-height: clamp(1.5rem, 3vw, 3rem);
    }
    a {
        text-decoration: none;
        color: hsl(var(--color-dark));            
    }
    a:focus, a:hover {
        color: hsl(var(--color-black));            
    }
    border-bottom: solid 1pt hsl(var(--color-black) / 0.1);
}

/* body layout */
body {
    min-height: 100vh; 
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 100%;
    // background-size: 100% 100%;
    // padding: 2rem;
}

/* gallery page */
.masonry-grid {
    padding-block: 1rem;
    display: grid;
    column-gap: 32px;
    grid-template-columns: repeat(auto-fill, minmax(300px, 20%));
    grid-auto-rows: 10px;
    justify-content: center;
    
    figure {
        grid-row-end: span var(--row-span);
        position: relative;
    }
    figure > img {
        width: 100%; 
        height: auto; 
    }
    figure::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: transparent;
        pointer-events: none; 
        z-index: 1;
    }
    figure:focus, figure:hover {
        cursor: pointer;
    }
    figure:focus::after, figure:hover::after {
        background-color: rgba(255, 255, 255, 0.25);
    }
    figurecaption {
        position: absolute;
        bottom: 30%;
        left: 10%;
        color: hsl(var(--color-white));
        z-index: 2;
    }
    figurecaption > span {
        display: block;
    }
}

/* slide show page */
.lightbox {
    display: none;
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100%;
    background-color: hsl(var(--color-black) / 0.85);
    z-index: 2;
}
.lightbox.shown {
    display: block;
    overflow: scroll;
}
.lightbox-container {
    display: grid;
    grid-template-rows: auto 1fr;
    padding: 2rem;
    justify-content: center;
    align-content: center;
    img {
        object-fit: contain;
    }
}
.close-button {
    justify-self:end;
    color: white;
    background-color: transparent;
    font-size: 14px;
    margin-bottom: 0.25rem;
    border: none;
    cursor: pointer;
} 
.close-button:focus, .close-button:hover {
    color: hsl(var(--color-dark));
}
//progress bar
progress {
    -webkit-appearance:none;
    -moz-appearance:none;        
    appearance: none;
    width: 100%;
    height: 5px;
    border: none;
    color: hsl(var(--color-light));
    padding: 0;
}
progress::-webkit-progress-bar {
    height: 5px;
    background-color: hsl(var(--color-light));
}
progress::-webkit-progress-value {
    background-color: hsl(var(--color-dark));
    height: 5px;
}
progress::-moz-progress-bar {
    background-color: hsl(var(--color-dark));
    height: 5px;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
}
footer img {
    display: inline;
}
footer button {
    cursor: pointer;
    border: none;
    background-color: transparent;
}
footer button[disabled=true] {
    opacity: 0.25;
}
footer button:focus, footer button:hover {
    opacity: 0.5;
}

.slide {
    padding: 1rem 1rem;
    .caption-card {
        position: relative;
        z-index: 1;
    }
    .caption-card > .year-painted {
        color: hsl(var(--color-dark)/0.5);
        z-index: 0;
        color: hsl(var(--color-very-light));
        text-align: right;
    }
    .caption-card > .picture-detail {
        position: relative;
        top: -1rem;
        color: hsl(var(--color-dark));
    }
    .caption-card a {
        color: inherit;
        text-decoration:underline;
    }
    .caption-card a:focus, .caption-card a:hover {
        color: hsl(var(--color-black));
    }
    .caption-card p {
        margin-bottom: 2rem;
        max-width: 100%;
    }
    
    .picture-card {
        z-index: 2;
        position: relative;
    }
    .hero-picture {
        position: relative;
    }
    .picture-info {
        display:flex;
        flex-direction: column;
        align-items: left;
        position: relative;
        top: -3rem;
        width: 80%;
    }
    .picture-header {
        width: fit-content;
        background-color: hsl(var(--color-white));
        z-index: 2;
        padding: 1rem;
        h1 {
            margin-bottom: 0.5rem;
        }
    }
    .artist-image {
        margin-inline-start: 1rem;
        width: max(64px, 18%);
    }
    .view-button {
        position: absolute;
        top: 5%;
        left: 5%;
        color: hsl(var(--color-white));
        background-color: hsl(var(--color-black) / 0.9);
        padding: 0.5rem;
        cursor: pointer;
        border: none;
    }
    .view-button:focus, .view-button:hover {
        background-color: hsl(var(--color-black) / 0.25);
    }
    .view-button > img {
        display: inline;
    }
}

@media (min-width: $tablet-break) {
    .slide {
        .caption-card {
            margin-top: 3rem;
        }
        .caption-card > .year-painted {
            color: hsl(var(--color-dark)/0.5);
            z-index: -1;
            color: hsl(var(--color-very-light));
            text-align: left;
        }
        .caption-card > .picture-detail {
            top: -3rem;
            left: 10%;
            width: 80%;
        }    
        .picture-card {
            width: 100%;
            position: relative;
        }
        .hero-picture {
            width: 70%;
        }
        .picture-info {
            align-items: center;
            position: absolute;
            top: 0;
            right: 0;
            width: 45%;
        }
        .picture-header {
            padding: 3rem 2rem;
            h1 {
                margin-bottom: 1.5rem;
            }
        }
        .artist-image {
            align-self: end;
            margin-left: 20%;
            width: max(128px, 40%);
        }
        .view-button {
            top:initial;
            bottom: 5%;
            left: 5%;
        }    
    }
}

@media (min-width: $desktop-break) {
    body {
        padding: 2rem;
    }
    footer {
        padding-block: 2%;
    }
    .slide {
        display: flex;
        gap: max(1rem, 2vw);
        padding: 5%;
        .caption-card {
            flex: 1 1 40%;
        }
        .caption-card > .picture-detail {
            top: -2rem;
            left: 0%;
            padding-right: 5rem;
        }    
        .picture-card {
            flex: 1 1 60%;
        }
        .hero-picture {
            margin-bottom: 2rem;
            width: 70%;
        }
        .picture-info {
            justify-content: space-between;
            width: 50%;
            height: 100%;
            position: absolute;
            top: 0;
            right: 0;
        }
        .picture-header {
            width: fit-content;
        }
        .artist-image {
            width: max(128px, 30%);
            margin-right: 3rem;
        }
    }
    footer {
        padding: 1.5rem;
    }    
}
